<div >
  <h2>Test View</h2>
  <p>Function in controller returns an array of 3 items</p>
  <ul>
    <li ng-repeat="stuff in yeomanStuff()">{{stuff}}</li>
  </ul>
  <p>Service returns JSON array of 4 objects to controller</p>
  <ul>
    <li ng-repeat="stuff in meanStuff()">{{stuff.component}}</li>
  </ul>
  <p>Factory returns JSON file containing 7 objects to controller</p>
  <ol>
    <li ng-repeat="stuff in otherStuff.data.components">
      <a href="{{stuff.url}}" target="_blank">{{stuff.component}}</a>
    </li>
  </ol>
  <p>MongoDB returns 3 documents to controller</p>
  <ul>
    <li ng-repeat="stuff in mongoStuff">
      <b>{{stuff.component}}</b>: {{stuff.description}}</a>
    </li>
  </ul>
</div>